.company-name {
  font-weight: 400;
  font-size: 20px;
  color: #888888;
}

.date-range {
  display: block;
  font-size: 16px;
  padding-top: 14px;
}

.from-month {
  display: block;
  text-transform: uppercase;
}

.from-year {
  display: block;
}

.header {
  text-align: center;
  padding-top: 40px;
  max-width: 100%;
  color: #21CE99;
}

.job-description {
  font-weight: 300
}

.job-title {
  font-weight: 400
}

.name {
  font-size: 48px;
  font-weight: 300;
}

.nav-menu-button {
  color: #21CE99;
}

.section-header {
  color: #21CE99;
}

.section-divider {
  background-color: #21CE99;
  height: 1px;
  margin: 50px auto;
  max-width: 100px;
}

.skills-list {
  font-weight: 300
}

.footer-a-email:hover {
  color: #21CE99;
}